.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 0;
  margin: 0;
  height: 450px;
  width: 550px;
  background-color: white;
}

.not-found p {
  font-size: 18px;
  text-align: center;
}

.not-found .line {
  background-color: #ba68c8;
  width: 100%;
  height: 5px;
  margin-bottom: 10px;
}

.not-found .line2 {
  background-color: #0044ffef;
  width: 100%;
  height: 5px;
  margin-bottom: 10px;
}
