.textf {
  width: 100% !important;
  margin: 10px !important;
  display: block;
}

.form-subtitle {
  height: 50px;
  border-bottom: 3px solid #2193fd;
  border-bottom-left-radius: 30px;
  margin-bottom: 20px;
  width: 50%;
  text-align: center;
}
.form-subtitle > p {
  width: 200px;
  height: 50px;
  padding: 15px;
  background-image: linear-gradient(to right, #0053f3, #2193fd);
  color: white;
  font-size: 18px;
  border-radius: 30px;
}
